<%- include("./partials/fileHeader") %>
<%- include("./partials/header") %>

<main class="pt-24 pb-14">
    <!-- Buttons -->
    <div class="flex justify-end gap-4 px-5 py-6">
        <a href="/assets?popup"
            class="text-center cursor-pointer min-w-[150px] bg-green-600 px-4 py-2 text-white rounded hover:bg-green-800"
            type="button">Add Asset</a>
        <a href="/newPlan"
            class="text-center cursor-pointer min-w-[150px] bg-green-600 px-4 py-2 text-white rounded hover:bg-green-800"
            type="button">Create new plan </a>
    </div>
    <!--This is the cards for plans and other things-->
    <div class="mt-4">
        <!--box to put logo icon if we want on in a box-->
        <!-- <div -->
        <!--   class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute mt-2 grid h-16 w-16 place-items-center"> -->
        <!-- </div> -->
        <!--This is the cards for plans and other things-->
        <div class="">
            <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 mr-3 ml-3 xl:grid-cols-4">
                <!--box to put logo icon if we want on in a box-->
                <div class=" relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                    <!-- <div -->
                    <!--   class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute mt-2 grid h-16 w-16 place-items-center"> -->
                    <!-- </div> -->
                    <div class="p-4 flex items-center justify-between">
                        <p class="font-sans text-2xl leading-normal font-normal text-blue-gray-600">
                            Retirement goal</p>
                        <h4
                            class="block text-right antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                            $53k</h4>
                    </div>
                    <div class="border-t border-blue-gray-50 p-10">
                        <p
                            class=" antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                            <strong class="text-green-500">Make this percent bar or graph or
                                something
                            </strong>&nbsp;than lastweek
                        </p>
                    </div>
                </div>
                <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                    <div class="p-4 flex items-center justify-between">
                        <p class="font-sans text-2xl leading-normal font-normal text-blue-gray-600">
                            Retirement goal</p>
                        <h4
                            class="block text-right antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                            $53k</h4>
                    </div>
                    <div class="border-t border-blue-gray-50 p-10">
                        <p
                            class=" antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                            <strong class="text-green-500">Make this percent bar or graph or
                                something
                            </strong>&nbsp;than last
                            week
                        </p>
                    </div>
                </div>
                <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                    <!-- <div -->
                    <!--   class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center"> -->
                    <!--   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" -->
                    <!--     class="w-6 h-6 text-white"> -->
                    <!--     <path -->
                    <!--       d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"> -->
                    <!--     </path> -->
                    <!--   </svg> -->
                    <!-- </div> -->
                    <!-- we can use this later if needed not sure what it shoudl be for right now. -->
                    <!--   <div class="p-4 text-right"> -->
                    <!--     <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">New Clients -->
                    <!--     </p> -->
                    <!--     <h4 -->
                    <!--       class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"> -->
                    <!--       3,462</h4> -->
                    <!--   </div> -->
                    <!--   <div class="border-t border-blue-gray-50 p-4"> -->
                    <!--     <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600"> -->
                    <!--       <strong class="text-red-500">-2%</strong>&nbsp;than yesterday -->
                    <!--     </p> -->
                    <!--   </div> -->
                    <!-- </div> -->
                    <div
                        class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                        <div
                            class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                            <div class="p-4 flex items-center justify-between">
                                <p class="font-sans text-2xl leading-normal font-normal text-blue-gray-600">
                                    Retirement goal</p>
                                <h4
                                    class="block text-right antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">
                                    $53k</h4>
                            </div>
                            <div class="border-t border-blue-gray-50 p-10">
                                <p
                                    class=" antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                                    <strong class="text-green-500">Make this percent bar or
                                        graph or something
                                    </strong>&nbsp;than last
                                    week
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-blue-gray-600">
            </div>
        </div>
    </div>
</main>

<%- include("./partials/navBar") %>
<%- include("./partials/scriptLoader") %>
<%- include("./partials/footer") %>
