<%- include("./partials/fileHeader") %>
    <%- include("./partials/header") %>

        <main class="pt-24 pb-14">
            <!-- Buttons -->
            <div class="flex justify-end gap-4 px-5 py-6">
                <a href="/assets?popup"
                    class="text-center cursor-pointer min-w-[150px] bg-green-600 px-4 py-2 text-white rounded hover:bg-green-800"
                    type="button">Add Asset</a>
                <a href="/newPlan"
                    class="text-center cursor-pointer min-w-[150px] bg-green-600 px-4 py-2 text-white rounded hover:bg-green-800"
                    type="button">Create new plan </a>
            </div>
            <div class="w-full">
                <div class="mb-12 grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-y-4 gap-x-6">
                    <% plans.forEach(plan=> { %>
                        <%- include('./partials/dashboardBox.ejs', {thing: plan}) %>
                            <% }); %>
                </div>
            </div>
        </main>

        <script src="/static/scripts/dollarFormat.js"></script>

        <%- include("./partials/navBar") %>
            <%- include("./partials/scriptLoader") %>
                <%- include("./partials/footer") %>
