<%- include("./partials/fileHeader") %>
<%- include("./partials/header") %>

<main>
    Welcome: <%= user.email %>
    The Dashboard Page
    <% if(user.authenticated) { %>
        <%= user.email %>
        <%= user.errMessage %>
    <% } %>
</main>

<script src="/static/scripts/geolocation.js"></script>

<%- include("./partials/navBar") %>
<%- include("./partials/footer") %>
