<%- include("./partials/fileHeader") %>
<%- include("./partials/header") %>

<main>
    Welcome: <%= user.email %>
    The Dashboard Page
</main>

<%- include("./partials/navBar") %>
<%- include("./partials/footer") %>