<%- include("./partials/fileHeader") %>
<%- include("./partials/header") %>

<main>
    The More Page
</main>

<%- include("./partials/navBar") %>
<%- include("./partials/scriptLoader") %>
<%- include("./partials/footer") %>
    