<!-- Clickable asset list item -->
<div class="mt-4 max-w-md mx-auto bg-white rounded-lg shadow-md">
    <button onclick="document.getElementById('<%= asset._id %>-modal').showModal()" style="width: 100%; height: 100%;" class="px-4 py-4 cursor-pointer">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row justify-between">
                <div class="mx-2">
                    <img src="/static/svgs/icons/<%= asset.icon %>.svg" class="h-6 w-6 me-2" alt="<%= asset.icon %>">
                </div>
                <div class="mx-2"><h3><%= asset.name %></h3></div>
            </div>
            <div>
                <h3><strong>
                    $<%= asset.value.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
                </strong></h3>
            </div>
        </div>
    </button>
</div>